::ng-deep :root{
  --filters-wrong: #9B9B9B;
  --default-green: #004B40;
  --light-green: #017564;
  --white-color: white;
  --table-font-color: #555555;
  --table-border: #65666627;
  --font-roboto: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.filters-wrong {
  margin-left: 10px;
  color: var(--filters-wrong);
  font-family: var(--font-roboto);
}

.filters-container{
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.filters-container .filters-inputs{
  display: flex;
}

.filters-container .filters-inputs > div {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.filters-container .filters-inputs > div label{
  margin-bottom: 10px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.filters-container .filter-btns button:first-child{
  margin-right: 30px;
  padding: 10px 30px;
  border: 1px solid var(--light-green);
  background: transparent;
  border-radius: 3px;
  font-family: var(--font-roboto);
  font-weight: 1000;
  color: var(--default-green);
  cursor: pointer;
}

.filters-container .filter-btns button:last-child{
  padding: 10px 60px;
  background-color: var(--default-green);
  border: 1px solid var(--default-green);
  border-radius: 3px;
  font-family: var(--font-roboto);
  font-weight: 1000;
  color: var(--white-color);
  cursor: pointer;
}

.filters-container .filters-inputs > div input{
  margin-bottom: 30px;
  outline: 0;
  border-width: 0 0 1px;
}

.characters-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.characters-container .characters-header {
  display: flex;
  background-color: var(--default-green);
}

.characters-container .characters-header p{
  padding: 10px;
  width: 50%;
  text-align: center;
  color: var(--white-color);
  font-family: var(--font-roboto);
  font-weight: 600;
  cursor: pointer;
}

.characters-container .characters-info {
  padding: 0px 20px;
  display: flex;
}

.characters-container .characters-info p{
  padding: 20px;
  width: 33.33%;
  border-bottom: 1px solid var(--table-border);
  font-family: var(--font-roboto);
  /* font-weight: 500; */
  color: var(--table-font-color);
}

.characters-container .characters-info-filter {
  padding: 0px 20px;
  display: flex;
}

.characters-container .characters-info-filter p{
  padding: 20px;
  width: 33.33%;
  border-bottom: 1px solid var(--table-border);
  font-family: var(--font-roboto);
  /* font-weight: 500; */
  color: var(--table-font-color);
}
