<section class="filters-container">
  <div class="filters-inputs">
    <div class="name-filter-container">
      <label for="">Nombre</label>
      <input [(ngModel)]="filterName" type="text">
    </div>
    <div class="type-filter-container">
      <label for="">Tipo</label>
      <input [(ngModel)]="filterType" type="text">
    </div>
  </div>
  <div class="filter-btns">
    <button (click)="cleanFilters()">Limpiar filtros</button>
    <button (click)="filters()">Buscar</button>
  </div>
</section>

<div *ngIf="thereAreFilters; else elseFilters" class="characters-container">
  <div class="characters-header">
    <p (click)="sortByName()">Nombre</p>
    <p (click)="sortByType()">Tipo</p>
    <p (click)="sortBySpecies()"> Especie </p>
  </div>
  <div *ngIf="!filtersBtn; else elseCharacters">
    <div *ngFor="let character of charactersPage; index as i" class="characters-info">
      <p>{{character.name}}</p>
      <p>{{character.type}}</p>
      <p>{{character.species}}</p>
    </div>
  </div>
  <ng-template #elseCharacters>
    <div>
      <div *ngFor="let character of filterCharactersList; index as i" class="characters-info-filter">
        <p>{{character.name}}</p>
        <p>{{character.type}}</p>
        <p>{{character.species}}</p>
      </div>
    </div>
  </ng-template>
</div>
<ng-template #elseFilters>
  <h2 class="filters-wrong">No encontramos personajes</h2>
</ng-template>
<ul class="pagination-container">
  <button *ngFor="let page of pages; index as i" (click)="pagination(i)">{{page}}</button>
</ul>

