<header>
    <figure class="logo-container">
        <p>COINK</p>
        <!-- <img width="200"  height="200" src="./coinkLogo.jpg" alt=""> -->
    </figure>
    <nav class="hamburguer-menu">
        <div></div>
        <div></div>
        <div></div>
    </nav>
    <div class="backoffice-container">
        <h1>BACKOFFICE</h1>
    </div>
    <figure class="profile-container">
        <img src="http://cdn.onlinewebfonts.com/svg/img_568656.png" alt="">
    </figure>
</header>
<main>
    <aside>
        <figure class="aside-profile-container">
            <div>

            </div>
            <p>Jeff</p>
        </figure>
        <ul>
            <li>Tarjetas Visa en dispensadores</li>
            <li>Crar dispensador</li>
            <li>Monitorear y editar dispensadores</li>
            <li>Solicitud tarjetas</li>
        </ul>
    </aside>
    <section>
        <p>Tarjetas Visa Dispensadores / <span>Solicitud tarjetas</span> </p>
        <h2>SOLICITUD TARJETAS</h2>
        <P>Buscar</P>
        <app-character></app-character>
    </section>
</main>

